{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block title %}Каталог{% endblock %}
{% block content %}

        <div class="sort-block row justify-content-center m-3">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировка
                  {% if sort_date %}
                   по дате
                  {% elif sort_name %}
                  по названию
                  {% elif sort_min_price %}
                  по цене
                  {% elif sort_max_price %}
                  по цене
                  {% endif %}
              </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item {{ sort_date }}" href="/catalog">По дате</a>
                  <a class="dropdown-item {{ sort_min_price }}" href="/catalog?sort=min_price">Дешевые выше</a>
                  <a class="dropdown-item {{ sort_max_price }}" href="/catalog?sort=max_price">Дорогие выше</a>
                  <a class="dropdown-item {{ sort_name }}" href="/catalog?sort=name">По названию</a>
              </div>
            </div>
        </div>

        <div class="content row justify-content-center">
            <div class="card-deck text-center">
            {% for phone in phones %}
            <div class="card bg-light">
              <div class="card-header">
                <a href="/catalog/{{phone.slug}}"><h5 class="card-title">{{phone.name}}</h5></a>
              </div>
                <a href="/catalog/{{phone.slug}}"><img src="{{phone.image}}" class="card-img-top" alt="{{phone.name}}"></a>
              <div class="card-body">
                <p class="card-text">Анонс: {{phone.release_date|format_date}}, LTE: {{phone.lte_exists|format_bool}}</p>
                <a href="/catalog/{{phone.slug}}" class="btn btn-outline-primary">Купить за {{phone.price}} р.</a>
              </div>
            </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}